{
	"singleQuote": true,
	"printWidth": 100,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"jsxSingleQuote": false,
	"trailingComma": "none",
	"arrowParens": "always",
	"endOfLine": "lf",
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"requirePragma": false,
	"insertPragma": false,
	"proseWrap": "preserve",
	"vueIndentScriptAndStyle": true
}
